.root {
    -fx-background-color: #F5F5F5;
}

.button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #333333;
    -fx-font-family: "Georgia";
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-border-color: #FFDAB9;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #FFDAB9;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #666666;
    -fx-background-radius: 5;
    -fx-border-color: #FFDAB9;
    -fx-border-width: 1;
    -fx-font-family: "Georgia";
}

.text-area {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: #333333;
    -fx-background-radius: 5;
    -fx-border-color: #FFDAB9;
    -fx-border-width: 1;
    -fx-font-family: "Georgia";
}

.tab-pane .tab-header-area .tab {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: #333333;
    -fx-font-family: "Georgia";
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #FFDAB9;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #FFDAB9;
    -fx-text-fill: #333333;
    -fx-border-width: 0 0 2 0;
}